alias la='ls -la'
alias grep='grep --color=auto'
alias st='git status'
alias gs='git status'
alias gp='git pull && git push'
alias gl='git log'
alias be='bundle exec'
alias password='pwgen -Cs 20 1 | tr -d " " | tr -d "\n" | pbcopy'
alias show='defaults write com.apple.finder AppleShowAllFiles true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles false && killall Finder'
alias up-resque='bundle exec rake resque:work QUEUES=* TERM_CHILD=1'
alias up-mysql='launchctl load /usr/local/opt/mysql/homebrew.mxcl.mysql.plist'
alias up-postgresql='launchctl load /usr/local/opt/postgresql/homebrew.mxcl.postgresql.plist'
alias up-redis='launchctl load /usr/local/opt/redis/homebrew.mxcl.redis.plist'
alias up-elasticsearch='launchctl load /usr/local/opt/elasticsearch/homebrew.mxcl.elasticsearch.plist'
alias up-rabbitmq='launchctl load /usr/local/opt/rabbitmq/homebrew.mxcl.rabbitmq.plist'
