[user]
    name = Denis Lysenko
    email = crashcube@gmail.com

[core]
    editor = vim
    excludesfile = /Users/dlysenko/.gitignore_global
    autocrlf = input

[color]
    ui = auto

[push]
    default = simple

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    h = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
