open -a Preview {{ playbook_dir }}/assets/sleepwatcher/sleepwatcher.png

osascript 2>/dev/null <<EOF
  if application "Preview" is running then
    tell application "Preview"
      activate
    end tell

    tell application "System Events"
      tell process "Preview"
        tell menu bar 1
          tell menu bar item "View"
            tell menu "View"
              click menu item "Enter Full Screen"
            end tell
          end tell
        end tell
      end tell
    end tell
  end if
EOF

sleep 2

say "Track your time!"
