alias la='ls -la'
alias ta='tmux attach -t dev || tmux new -s dev'

# git
alias gs='git status'
alias gd='git diff'
alias gl='git log'
alias gpp='git pull && git push'
alias gpom='git pull origin master'

# dev
alias be='bundle exec'
alias fs='foreman start'
alias resque='bundle exec rake resque:work QUEUES=* TERM_CHILD=1'
alias rails500='rails _5.0.0_'

# tools
alias password='pwgen -Cs 20 1 | tr -d " " | tr -d "\n" | pbcopy'

# system
alias show='defaults write com.apple.finder AppleShowAllFiles true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles false && killall Finder'

# misc
alias workhard='cat /etc/hosts | sed "/127.0.0.1 vk.com/s/^#//g" | sudo tee /etc/hosts'
alias procrastinate='cat /etc/hosts | sed "/127.0.0.1 vk.com/s/^/#/g" | sudo tee /etc/hosts'

# functions
function iconv-recursive {
    find . -type f -name '*.html' -o -name '*.html.erb' | while read file
    do
        echo $file
        iconv -f CP1251 -t UTF-8 "$file" > tmp
        mv -f tmp "$file"
    done
}

function remove-layout {
    if [ -z $1 ]
    then
        echo "Empty pattern"
        return 1
    fi

    find . -type f -name '*.html' -o -name '*.html.erb' | while read file
    do
        echo $file
        sed -n "$1" "$file" | sed '1d' | sed '$d' > tmp
        mv -f tmp "$file"
    done
}

function pg-recreate {
    if [ -z $1 ]; then
        echo "Missing database"
        return 1
    fi

    psql postgres -c "DROP DATABASE $1"
    psql postgres -c "CREATE DATABASE $1"
}

function find-big-files {
    find /Users/ -size +100M 2>/dev/null
}

function clean-attrs {
    if [ -z $1 ]; then
        echo "Specify the path"
        return 1
    fi

    chmod -RN $1
    xattr -rc $1
}

function unmount {
    rm -rf $1/.fseventsd
    rm -rf $1/.Trashes
    rm -rf $1/.Spotlight-V100
    find $1 -name '._*' -exec rm {} \;
    find $1 -name '.DS_Store' -exec rm {} \;
    diskutil unmount $1
}
