root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.{sh,py}]
indent_style = tab
indent_size = 4

[{Gemfile,Rakefile}]
indent_size = 2

[*.{yml,json,js,ejs,jsx,coffee,rb,css,scss,html,ru,erb,haml,slim}]
indent_size = 2

[*.{sol,yul}]
indent_size = 4
