[user]
    email = crashcube@gmail.com
    name = Denis Lysenko

[core]
    autocrlf = input
    editor = vim
    excludesfile = /Users/dlysenko/.gitignore_global

[color]
    ui = auto

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    h = log --pretty=format:\"%h | %ad | %s%d [%an]\" --graph --date=short

[merge]
    ff = false
