[user]
    name = Alexander Kadyrov
    email = gruz0.mail@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[github]
    user = gruz0
[push]
    default = simple
[status]
    showUntrackedFiles = all

[alias]
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    d = difftool
    g = log --all --decorate --oneline --graph

[diff]
    tool = vimdiff
[difftool]
    prompt = false
